.giganoob-mode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.piano-key{
    width: 10vh;
    height: 20vh;
    background-color: #fff;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
    margin-left: 1vh;
    margin-right: 1vh;
}

.piano-key:hover{
    background-color: #eee;
}

.options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.div-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}